@use '../abstracts/mixins' as mi;

/* 기본 여백, 폰트 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 시맨틱 요소 표시 보장 */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}

figure {
    margin: 0;
}

/* 공통 박스모델 */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 기본 폰트, 색상 */
html, body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    touch-action: none;          /* pinch-zoom + pan 차단 */
    overscroll-behavior: none;   /* 화면 밀림/체인 스크롤 방지 */
}

/* 문서 루트 언어별 폰트 패밀리 적용 */
/* 루트 글꼴 크기 */
html:lang(ko) {
    @include mi.lang-ko;
    // font-size: 100%; // 16px
}

html:lang(en) {
    @include mi.lang-en;
    // font-size: 105%; // 16px
}

html:lang(zh-CN) {
    @include mi.lang-zh-cn;
    // font-size: 97%; // 15.52px
}

html:lang(zh-TW) {
    @include mi.lang-zh-tw;
    // font-size: 100%;
}

html:lang(ja) {
    @include mi.lang-ja;
    // font-size: 95%; // 15.2px
}

/* 링크 */
a {
    color: inherit;
    text-decoration: none;
}

/* 목록 점 제거 (시각적만) */
ul, ol {
    list-style: none;
}

/* 테이블 시각 정리 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 폼 요소 기본값 유지 + 폰트 통일 */
button, input, select, textarea {
    font: inherit;
    color: inherit;
}

/* 버튼 의미 유지 */
button {
    border: none;
    padding: 0;
    cursor: pointer;
}

/* 1) 기본으로는 포커스 링 안 보이게 */
:focus,
:focus-visible {
    outline: none;
    box-shadow: none;
}

/* 2) 키보드 사용 중일 때만 포커스 링 표시 (기본 = 바깥) */
html.is-keyboard-user :focus,
html.is-keyboard-user :focus-visible {
    box-shadow:
        0 0 0 2px #FFFFFF,
        0 0 0 5px #3B4CCF;
}

/* 3) 고대비 모드 + 키보드일 때 (기본 = 바깥) */
html.mode-high-contrast.is-keyboard-user :focus,
html.mode-high-contrast.is-keyboard-user :focus-visible {
    box-shadow:
        0 0 0 2px #FFFFFF,
        0 0 0 5px #FFFF2E;
}

/* 4) 안쪽 포커스가 필요한 요소만 */
html.is-keyboard-user .focus-inset:focus,
html.is-keyboard-user .focus-inset:focus-visible {
    box-shadow: 
        inset 0 0 0 3px #3B4CCF,
        inset 0 0 0 5px #FFFFFF;
}

/* 5) 고대비 + 안쪽 포커스 */
html.mode-high-contrast.is-keyboard-user .focus-inset:focus,
html.mode-high-contrast.is-keyboard-user .focus-inset:focus-visible {
    box-shadow: 
        inset 0 0 0 3px #FFFF2E,
        inset 0 0 0 5px #FFFFFF;
}

/* 스크린리더용 클래스 */
.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}