@use '../abstracts/mixins' as mi;
@use '../abstracts/variables' as va;

.floating-btn {
    /* 플로팅 버튼 전용 로컬 디자인 토큰 */
    --fb-border: #3B4CCF;
    --fb-label: #3B4CCF;
    --fb-divide-border: #3B4CCF;

    /* 아이콘/이미지 토큰 */
    --fb-arrow-up-icon: url(../../../assets/images/icon/arrow_up_bl.svg);
    --fb-arrow-down-icon: url(../../../assets/images/icon/arrow_down_bl.svg);

    position: fixed;
    right: 24px;
    bottom: 169px;
    @include mi.flexbox(column, center, stretch);
    border: 1px solid var(--fb-border);
    border-radius: 8px;
    overflow: hidden;
    z-index: 60;
    // display: none;
    .btn-wrap {
        position: relative;
        // width: 99px;
        height: 52px;
        padding: 14px 18px;
        background: #fff;

        &.prev {
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: var(--fb-divide-border);
            }
            /* 이전 버튼만 화면에 노출될때 추가 */
            &.no-bd {
                &::before {
                    content: none;
                }
            }
        }
    }
    .sec-move-btn {
        width: 100%;
        height: 100%;
        background: #fff;
        gap: 8px;
        @include mi.flexbox(row, center, center);

        &:focus,
        &:focus-visible {
            box-shadow: none;
            outline: none;
            @include mi.focus-ring(0, after, 5px);
        }

        .label {
            font-size: va.$font-20;
            font-weight: 700;
            color: var(--fb-label);
        }
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
        &.prev {
            .icon {
                background: var(--fb-arrow-up-icon) no-repeat center/contain;
            }
        }
        &.next {
            .icon {
                background: var(--fb-arrow-down-icon) no-repeat center/contain;
            }
        }
    }
}

/* 낮은 자세 모드 */
.mode-low-posture {
    .floating-btn {
        display: flex;
    }
}

/* 고대비 모드 */
.mode-high-contrast {
    .floating-btn {
        /* 플로팅 버튼 전용 로컬 디자인 토큰 */
        --fb-border: #fff;
        --fb-label: #000;
        --fb-divide-border: #000;

        /* 아이콘/이미지 토큰 */
        --fb-arrow-up-icon: url(../../../assets/images/icon/high-contrast/arrow_up_bk.svg);
        --fb-arrow-down-icon: url(../../../assets/images/icon/high-contrast/arrow_down_bk.svg);
    }
}