@use '../abstracts/mixins' as mi;
@use '../abstracts/variables' as va;

/* 기본(네이티브) 모양을 제거 */
input[type="search"] {
    appearance: textfield;
    -webkit-appearance: textfield;
}

/* X 버튼 및 검색 결과 버튼 숨기기 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
    display: none;
}

.search-wrap {
    position: relative;
    .search-input {
        width: 440px;
        height: 72px;
        font-size: va.$font-28;
        color: #000;
        padding: 0 80px 0 32px;
        border-radius: 100px;
        border: none;
        background: #F0F0F0;
        &::placeholder {
            color: #555555;
        }
    }
    .search-btn {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #3B4CCF;
    }
}