@use '../abstracts/mixins' as mi;
@use '../abstracts/variables' as va;

.select-wrap {
    @include mi.flexbox(row, flex-start, center);
    gap: 8px;
}

.custom-select { 
    // 커스텀 셀렉트 컴포넌트 전용 “로컬 디자인 토큰”
    --cs-bg: #fff;
    --cs-text: #000;
    --cs-border: #888;
    --cs-active-bg: #EEEFFF;
    --cs-active-text: #3B4CCF;
    --cs-radius: 8px;
    --cs-active-radius: 8px 8px 0 0;
    --cs-active-radius02: 0 0 8px 8px;

    position: relative;
    width: 200px;
    border-radius: var(--cs-radius);
    z-index: 70;
    cursor: pointer;

    .select-item {
        position: relative;
        width: 100%;
        height: 72px;
        padding: 0 44px 0 24px;
        // 한국어: 28px, 영어: 28px의 70% = 19.6px
        @include mi.font-i18n(
            va.$font-28,
            va.$font-28 * 0.7
        );
        line-height: 119%;
        font-weight: 500;
        text-align: left;
        color: var(--cs-text);
        border: 1px solid var(--cs-border);
        border-radius: var(--cs-radius);
        background: var(--cs-bg);
        z-index: 1;
        overflow: hidden;
        // transition: all 0.35s .25s;
        &.on {
            border-radius: var(--cs-active-radius);
            // transition: all 0.35s;
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            background: url(../../../assets/images/icon/arrow_down.svg) no-repeat center/contain;
            // transition: all .35s;
        }
    }
    
    .option-list-wrap {
        display: none;
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        border: 1px solid var(--cs-border);
        border-top: none;
        border-radius: var(--cs-active-radius02);
        overflow: hidden;
    }

    .option-controls {

        display: none;

        .btn-wrap {
            position: absolute;
            left: 0;
            width: 100%;
            height: 56px;
            padding: 8px 0;
            // border-bottom: 1px solid var(--cs-border);
            background: var(--cs-bg);
            z-index: 2;
            cursor: default;
            &.prev {
                top: 0;
                border-bottom: 1px solid var(--cs-border);
            }
            &.next {
                bottom: 0;
                border-top: 1px solid var(--cs-border);
            }

            &.is-disabled {
                button {
                    pointer-events: none;
                    .label { color: #B7B7B7; }
                }
                &.prev .icon { background: url(../../../assets/images/icon/arrow_up_gy.svg) no-repeat center/contain; }
                &.next .icon { background: url(../../../assets/images/icon/arrow_down_gy.svg) no-repeat center/contain; }
            }
        }

        button {
            width: 100%;
            height: 100%;
            padding: 0;
            @include mi.flexbox(row, center, center);
            gap: 7px;
            background: transparent;
            &.prev-btn {
                .icon {
                    background: url(../../../assets/images/icon/arrow_up_bl.svg) no-repeat center/contain;
                }
            }
            &.next-btn {
                .icon {
                    background: url(../../../assets/images/icon/arrow_down_bl.svg) no-repeat center/contain;
                }
            }
            .icon {
                display: block;
                width: 20px;
                height: 20px;
            }
            .label {
                font-size: va.$font-20;
                font-weight: 700;
                color: #3B4CCF;
            }
        }
    }

    .option-scroll {
        left: 0;
        width: 100%;
        max-height: 720px;
        background: var(--cs-bg);
        overflow-y: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }

    .option-list {
        width: 100%;
        z-index: 70;

        > li {
            position: relative;
            width: 100%;
            height: 72px;
            padding: 8px 24px;
            border-bottom: 1px solid var(--cs-border);
            cursor: default;

            &:last-child {
                border-bottom: 0;
            }

            button {
                width: 100%;
                height: 100%;
                color: var(--cs-text);
                text-align: left;
                // 한국어: 28px, 영어: 28px의 70% = 19.6px
                @include mi.font-i18n(
                    va.$font-28,
                    va.$font-28 * 0.7
                );
                line-height: 119%;
                font-weight: 500;
                background: var(--cs-bg);
                &.is-active {
                    color: var(--cs-active-text);
                    font-weight: 800;
                    background: var(--cs-active-bg);
                }

                &:focus,
                &:focus-visible {
                    box-shadow: none;
                    outline: none;
                    @include mi.focus-ring(0, after, 5px);
                }
            }

            &.is-active {
                background: var(--cs-active-bg);
            }
        }
    }
}

/* 낮은 자세 모드 */
.mode-low-posture {
    .custom-select {
        .select-item {
            height: 56px;
            font-size: va.$font-24;
        }

        .option-list-wrap {
            padding: 56px 0;
            top: 56px;
        }

        .option-controls {
            display: block;
        }

        .option-scroll {
            height: 335px;
        }

        .option-list {
            top: 56px;
            // max-height: 449px;
            > li {
                height: 56px;
                &.move-btn-wrap {
                    display: block;
                    &.is-disabled {
                        button {
                            &.prev-btn {
                                .icon {
                                    background: url(../../../assets/images/icon/arrow_up_gy.svg) no-repeat center/contain;
                                }
                            }
                            &.next-btn {
                                .icon {
                                    background: url(../../../assets/images/icon/arrow_down_gy.svg);
                                }
                            }
                            .label {
                                color: #B7B7B7;
                            }
                        }
                    }
                }

                button {
                    font-size: va.$font-24;
                }
            }
        }
    }
}

/* 낮은 자세 모드 + 영문 */
html:lang(en).mode-low-posture {
    .custom-select {
        .select-item {
            font-size: va.$font-24 * 0.7;
        }
        .option-list {
            > li {
                button {
                    font-size: va.$font-24 * 0.7;
                }
            }
        }
    }
}

/* 고대비 모드 */
.mode-high-contrast {
    .custom-select { 
        // 커스텀 셀렉트 컴포넌트 전용 “로컬 디자인 토큰”
        --cs-bg: #fff;
        --cs-text: #000;
        --cs-border: #444;
        --cs-active-bg: #000;
        --cs-active-text: #fff;
        --cs-radius: 0;
        --cs-active-radius: 0;
        --cs-active-radius02: 0;
    }
}