/* 서울 도시철도 */
.subway-tag.line-1 { background-color:#0052A4; } /* 서울 1호선 */
.subway-tag.line-2 { background-color:#009D3E; } /* 서울 2호선 */
.subway-tag.line-3 { background-color:#FC4C02; } /* 서울 3호선 */
.subway-tag.line-4 { background-color:#00A9E0; } /* 서울 4호선 */
.subway-tag.line-5 { background-color:#A05EB5; } /* 서울 5호선 */
.subway-tag.line-6 { background-color:#A9431E; } /* 서울 6호선 */
.subway-tag.line-7 { background-color:#67823A; } /* 서울 7호선 */
.subway-tag.line-8 { background-color:#E31C79; } /* 서울 8호선 */
.subway-tag.line-9 { background-color:#8C8279; } /* 서울 9호선 */
/* 수도권 도시철도 */
.subway-tag.line-i { background-color:#7CA8D5; } /* 인천 1호선 */
.subway-tag.line-i2 { background-color:#ED8B00; } /* 인천 2호선 */
.subway-tag.line-a { background-color:#0090D2; } /* 공항철도 */
.subway-tag.line-k { background-color:#6CBC99; } /* 경의중앙선 */
.subway-tag.line-kk { background-color:#F5A200; } /* 수인분당선 */
/* 부산 도시철도 */
.subway-tag.line-b1 { background-color:#F06A00; } /* 부산 1호선 */
.subway-tag.line-b2 { background-color:#81BF48; } /* 부산 2호선 */
.subway-tag.line-b3 { background-color:#BB8C00; } /* 부산 3호선 */
.subway-tag.line-b4 { background-color:#217DCB; } /* 부산 4호선 */
.subway-tag.line-b5 { background-color:#F14C53; } /* 부산 5호선 */
/* 대구 도시철도 */
.subway-tag.line-d1 { background-color:#D93F5C; } /* 대구 1호선 */
.subway-tag.line-d2 { background-color:#00AA80; } /* 대구 2호선 */
.subway-tag.line-d3 { background-color:#FFB100; } /* 대구 3호선 */
.subway-tag.line-d4 { background-color:#0099CC; } /* 대구 4호선 */
/* 광주 도시철도 */
.subway-tag.line-gj1 { background-color:#009088; } /* 광주 1호선 */
.subway-tag.line-gj2 { background-color:#0471C3; } /* 광주 2호선 */
/* 대전 도시철도 */
.subway-tag.line-dj1 { background-color:#007448; } /* 대전 1호선 */