@use '../abstracts/mixins' as mi;
@use '../abstracts/variables' as va;

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1080px;
    background: #0B162F;
    z-index: 80;
    .hd-inner {
        width: calc(100% - 64px);
        height: 90px;
        margin: 0 auto;
        @include mi.flexbox(row, space-between, center);
    }
    .logo {
        width: 399px;
        height: 24px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .status {
        @include mi.flexbox(row, flex-end, center);
        gap: 24px;
    }
    .datetime {
        @include mi.flexbox(row, flex-end, center);
        gap: 16px;
        .date {
            font-size: va.$font-28;
            color: rgba(255, 255, 255, 0.8);
        }
        .clock {
            font-size: va.$font-42;
            font-weight: 700;
            color: #fff;
            letter-spacing: 0.02em;
        }
    }
    .weather {
        width: 70px;
        height: 70px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/* 낮은 자세 모드 */
.mode-low-posture {
    .header {
        position: relative;
        top: auto;
        left: auto;
        transform: translateX(0);
    }
}