@use '../abstracts/mixins' as mi;
@use '../abstracts/variables' as va;

/* 디지털 관광지도 레이아웃 */
main.map {
    /* map 전용 로컬 컬러 토큰 */
    --map-thema-color: #3B4CCF;
    --map-thema-border: #3B4CCF;
    --map-thema-radius: 16px;
    --map-thema-icon: url(../../../assets/images/icon/arrow_right_bl.svg);
    --map-thema-bg: #ffffff;

    /* 아이콘/이미지 토큰 */

    .filter-menu {
        .filter-list {
            padding: 16px 0;
            gap: 24px;
        }
    }
    .thema-btn-wrap {
        width: calc(100% - 64px);
        max-width: 1080px;
        margin: 0 auto;
        padding-top: 32px;
        @include mi.flexbox(row, center, center);
        gap: 16px;
        .thema-btn {
            display: block;
            width: calc(50% - 8px);
            height: 80px;
            padding: 0 24px;
            // 한국어: 28px, 영어: 28px의 80% = 22.4px
            @include mi.font-i18n(
                va.$font-28,
                va.$font-28 * 0.8
            );
            font-weight: 700;
            letter-spacing: -0.02em;
            color: var(--map-thema-color);
            border-radius: var(--map-thema-radius);
            border: 2px solid var(--map-thema-border);
            background: var(--map-thema-icon) no-repeat center right 24px/24px var(--map-thema-bg);
            @include mi.flexbox(row, flex-start, center);
        }
    }
    .card-list {
        padding: 24px 32px 32px;
    }
    .card .card-thumbnail {
        height: 172px;
    }
    .card .card-title {
        text-align: center;
    }
}

/* 낮은 자세 모드 */
.mode-low-posture {
    .main.map {
        .thema-btn-wrap {
            width: calc(100% - 48px);
            padding-top: 16px;
            .thema-btn {
                height: 65px;
                font-size: va.$font-24;
            }
        }
        .card-list {
            padding: 16px 24px 12px;
        }
        .card .card-thumbnail {
            height: 148px;
        }
    }
}

/* 낮은 자세 모드 + 영문 */
html:lang(en).mode-low-posture {
    .main.map {
        .thema-btn-wrap {
            .thema-btn {
                font-size: va.$font-24 * 0.9;
            }
        }
    }
}

/* 고대비 모드 */
.mode-high-contrast {
    .main.map {
        --map-thema-color: #000;
        --map-thema-border: transparent;
        --map-thema-radius: 0;
        --map-thema-icon: url(../../../assets/images/icon/arrow_right_bk.svg);
        --map-thema-bg: #1AEBFF;
    }
}